# Costco
By: Adam Hellinga

The goal of this project is to create a database based off of Costco, including orders, employees, members, inventory, stores, and foot court items. 
Here is the ER Diagram: https://lucid.app/lucidchart/a7d563a1-1c27-42d2-b4df-c4df4edfd782/edit?invitationId=inv_947dffd5-be00-474e-af2d-bd43d71a8686

First we need to make sure that any pre-established tables, views, and types are dropped before we try to make them again.

In [ ]:
DROP VIEW IF EXISTS vw_order_info;
DROP TABLE IF EXISTS costco.food_court;
DROP TABLE IF EXISTS costco.order_item;
DROP TABLE IF EXISTS costco.order;
DROP TABLE IF EXISTS costco.member;
DROP TABLE IF EXISTS costco.inventory;
DROP TABLE IF EXISTS costco.employee;
DROP TABLE IF EXISTS costco.store;
DROP TYPE IF EXISTS costco_job;

Next, we need to create the schema if it doesnt already exist to keep organized.

In [ ]:
CREATE SCHEMA IF NOT EXISTS costco;

Here we create the job type so that we can limit the values that can be put in the occupation column.

In [ ]:
CREATE TYPE costco_job AS ENUM ('restocker', 'manager', 'cook', 'receipt checker', 'cashier');

Here we create all the tables in an order that leaves any foreign keys until last.

In [ ]:
CREATE TABLE costco.store(
    store_id SERIAL PRIMARY KEY,
    store_address VARCHAR(255)
);

CREATE TABLE costco.employee(
    employee_id INTEGER PRIMARY KEY,
    employee_name VARCHAR(255),
    store INTEGER,
    occupation costco_job,
    FOREIGN KEY (store) REFERENCES costco.store(store_id)
);

CREATE TABLE costco.inventory(
    store_id INTEGER,
    item_id SERIAL,
    stock INTEGER,
    cost MONEY,
    product_name VARCHAR(255),
    FOREIGN KEY (store_id) REFERENCES costco.store(store_id),
    PRIMARY KEY(store_id, item_id)
);

CREATE TABLE costco.member(
    member_id SERIAL,
    expiration_date DATE,
    member_name VARCHAR(255),
    member_address VARCHAR(255),
    PRIMARY KEY(member_id, expiration_date)
);

CREATE TABLE costco.order(
    order_id SERIAL PRIMARY KEY,
    store_id INTEGER,
    customer_id INTEGER,
    cost MONEY,
    before_date DATE,
    FOREIGN KEY (store_id) REFERENCES costco.store(store_id),
    FOREIGN KEY (customer_id, before_date) REFERENCES costco.member(member_id, expiration_date)
);

CREATE TABLE costco.order_item(
    order_id INTEGER,
    store_id INTEGER,
    item_id INTEGER,
    FOREIGN KEY (order_id) REFERENCES costco.order(order_id),
    FOREIGN KEY (store_id, item_id) REFERENCES costco.inventory(store_id, item_id),
    PRIMARY KEY(order_id, item_id)
);

CREATE TABLE costco.food_court(
    store_id INTEGER,
    food_id INTEGER,
    food_name VARCHAR(255),
    price MONEY,
    FOREIGN KEY (store_id) REFERENCES costco.store(store_id),
    PRIMARY KEY(store_id, food_id)
);

To finish the tables we add some sample data for each table.

In [ ]:
insert into costco.store (store_id, store_address) values (1, '91 Susan Crossing');
insert into costco.store (store_id, store_address) values (2, '459 Summer Ridge Plaza');
insert into costco.store (store_id, store_address) values (3, '17 Prairieview Junction');
insert into costco.store (store_id, store_address) values (4, '88 Eagle Crest Alley');
insert into costco.store (store_id, store_address) values (5, '369 Sauthoff Trail');
insert into costco.store (store_id, store_address) values (6, '40695 Everett Plaza');
insert into costco.store (store_id, store_address) values (7, '74 Nancy Pass');
insert into costco.store (store_id, store_address) values (8, '0388 Milwaukee Park');
insert into costco.store (store_id, store_address) values (9, '49 Dakota Point');
insert into costco.store (store_id, store_address) values (10, '86 Pierstorff Place');
insert into costco.store (store_id, store_address) values (11, '357 Hoepker Junction');
insert into costco.store (store_id, store_address) values (12, '06525 Hauk Hill');
insert into costco.store (store_id, store_address) values (13, '78491 Washington Circle');
insert into costco.store (store_id, store_address) values (14, '6 Rockefeller Junction');
insert into costco.store (store_id, store_address) values (15, '261 Old Gate Parkway');
insert into costco.store (store_id, store_address) values (16, '77757 Memorial Junction');
insert into costco.store (store_id, store_address) values (17, '3 Declaration Circle');
insert into costco.store (store_id, store_address) values (18, '29 Warbler Center');
insert into costco.store (store_id, store_address) values (19, '90438 Saint Paul Crossing');
insert into costco.store (store_id, store_address) values (20, '67 Lyons Center');

insert into costco.employee (employee_id, employee_name, store, occupation) values (1, 'Antin', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (2, 'Byrann', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (3, 'Jule', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (4, 'Wallace', 1, 'restocker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (5, 'Xenos', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (6, 'Allen', 1, 'restocker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (7, 'Jase', 1, 'restocker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (8, 'Bar', 1, 'receipt checker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (9, 'Price', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (10, 'Yvon', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (11, 'Sergei', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (12, 'Thane', 1, 'restocker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (13, 'Melissa', 1, 'receipt checker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (14, 'Haley', 1, 'cashier');
insert into costco.employee (employee_id, employee_name, store, occupation) values (15, 'Powell', 1, 'receipt checker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (16, 'Rozamond', 1, 'restocker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (17, 'Joshia', 1, 'restocker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (18, 'Blanche', 1, 'restocker');
insert into costco.employee (employee_id, employee_name, store, occupation) values (19, 'Lindsey', 1, 'cook');
insert into costco.employee (employee_id, employee_name, store, occupation) values (20, 'Elvera', 1, 'cook');

insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 1, 177, '$4.81', 'Coffee - Colombian, Portioned');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 2, 313, '$16.07', 'Calypso - Lemonade');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 3, 803, '$19.21', 'Flour - Rye');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 4, 677, '$15.17', 'Soup - Knorr, Country Bean');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 5, 881, '$25.28', 'Dates');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 6, 109, '$22.72', 'Lambcasing');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 7, 174, '$11.10', 'Buffalo - Short Rib Fresh');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 8, 513, '$8.96', 'Cotton Wet Mop 16 Oz');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 9, 896, '$29.96', 'Mace');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (1, 10, 514, '$2.84', 'Thyme - Fresh');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 11, 947, '$12.26', 'Parsley - Fresh');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 12, 373, '$7.82', 'Cotton Wet Mop 16 Oz');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 13, 874, '$14.29', 'Cheese - Brie Roitelet');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 14, 134, '$9.66', 'Nantucket Cranberry Juice');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 15, 827, '$23.94', 'Pie Filling - Pumpkin');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 16, 472, '$26.30', 'Mustard Prepared');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 17, 956, '$3.25', 'Pastry - Baked Scones - Mini');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 18, 208, '$10.49', 'Tomato');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 19, 664, '$28.40', 'Oil - Peanut');
insert into costco.inventory (store_id, item_id, stock, cost, product_name) values (2, 20, 434, '$26.50', 'Glaze - Apricot');

insert into costco.member (member_id, expiration_date, member_name, member_address) values (1, '1/24/2026', 'Fawne Doley', '64 Morning Avenue');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (2, '7/14/2024', 'Midge Klishin', '315 Lakewood Circle');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (3, '2/5/2026', 'Fleming Plett', '932 Continental Point');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (4, '4/6/2025', 'Viviana Bayston', '866 Scoville Drive');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (5, '2/21/2025', 'Colline Waddie', '91985 Lotheville Way');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (6, '10/2/2024', 'Roxy Cottee', '8081 Lotheville Place');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (7, '2/20/2025', 'Bunni Holdin', '44 Everett Drive');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (8, '7/31/2024', 'Ilyse Bromont', '5 Butternut Alley');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (9, '10/30/2025', 'Sandye Fetherstone', '91164 8th Lane');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (10, '11/29/2025', 'Callean Cultcheth', '6394 Little Fleur Avenue');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (11, '2/1/2025', 'Cybil Heggison', '1 Morningstar Center');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (12, '12/4/2025', 'Blaire Ilyin', '5 Pankratz Park');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (13, '10/13/2025', 'Simeon Dearle', '6300 Mallory Point');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (14, '1/17/2026', 'Reina Harses', '91854 Elmside Alley');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (15, '5/24/2024', 'Sutton Martt', '04407 Talisman Street');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (16, '8/13/2025', 'Dwight Doneld', '420 Gerald Park');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (17, '4/27/2024', 'Breanne Pamplin', '3 Annamark Pass');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (18, '12/25/2025', 'Lanny Saintpierre', '85 Schmedeman Road');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (19, '11/10/2024', 'Olivero Gemmell', '35 Center Hill');
insert into costco.member (member_id, expiration_date, member_name, member_address) values (20, '1/14/2026', 'Yvor Heiss', '85 Harbort Center');

insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (1, 1, 1, '$240.16', '1/24/2026');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (2, 1, 2, '$157.68', '7/14/2024');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (3, 1, 3, '$177.74', '2/5/2026');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (4, 1, 4, '$186.81', '4/6/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (5, 1, 5, '$179.15', '2/21/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (6, 1, 6, '$176.64', '10/2/2024');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (7, 1, 7, '$161.03', '2/20/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (8, 1, 8, '$68.08', '7/31/2024');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (9, 1, 9, '$71.85', '10/30/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (10, 1, 10, '$111.04', '11/29/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (11, 2, 11, '$238.27', '2/1/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (12, 2, 12, '$225.41', '12/4/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (13, 2, 13, '$162.05', '10/13/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (14, 2, 14, '$92.52', '1/17/2026');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (15, 2, 15, '$32.73', '5/24/2024');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (16, 2, 16, '$98.40', '8/13/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (17, 2, 17, '$148.56', '4/27/2024');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (18, 2, 18, '$278.93', '12/25/2025');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (19, 2, 19, '$172.06', '11/10/2024');
insert into costco.order (order_id, store_id, customer_id, cost, before_date) values (20, 2, 20, '$68.65', '1/14/2026');

insert into costco.order_item (order_id, store_id, item_id) values (1, 1, 2);
insert into costco.order_item (order_id, store_id, item_id) values (2, 1, 3);
insert into costco.order_item (order_id, store_id, item_id) values (3, 1, 3);
insert into costco.order_item (order_id, store_id, item_id) values (4, 1, 7);
insert into costco.order_item (order_id, store_id, item_id) values (5, 1, 7);
insert into costco.order_item (order_id, store_id, item_id) values (6, 1, 5);
insert into costco.order_item (order_id, store_id, item_id) values (7, 1, 4);
insert into costco.order_item (order_id, store_id, item_id) values (8, 1, 4);
insert into costco.order_item (order_id, store_id, item_id) values (9, 1, 8);
insert into costco.order_item (order_id, store_id, item_id) values (10, 1, 1);
insert into costco.order_item (order_id, store_id, item_id) values (11, 2, 18);
insert into costco.order_item (order_id, store_id, item_id) values (12, 2, 13);
insert into costco.order_item (order_id, store_id, item_id) values (13, 2, 16);
insert into costco.order_item (order_id, store_id, item_id) values (14, 2, 17);
insert into costco.order_item (order_id, store_id, item_id) values (15, 2, 14);
insert into costco.order_item (order_id, store_id, item_id) values (16, 2, 17);
insert into costco.order_item (order_id, store_id, item_id) values (17, 2, 19);
insert into costco.order_item (order_id, store_id, item_id) values (18, 2, 12);
insert into costco.order_item (order_id, store_id, item_id) values (19, 2, 13);
insert into costco.order_item (order_id, store_id, item_id) values (20, 2, 20);

insert into costco.food_court (store_id, food_id, food_name, price) values (1, 1, 'Distributed context-sensitive projection', '$9.92');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 2, 'Customer-focused dynamic collaboration', '$5.05');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 3, 'Horizontal content-based time-frame', '$4.52');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 4, 'Re-contextualized background website', '$9.16');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 5, 'Fully-configurable upward-trending hierarchy', '$7.32');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 6, 'Polarised tangible standardization', '$4.56');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 7, 'Fundamental solution-oriented alliance', '$7.20');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 8, 'Sharable holistic middleware', '$6.86');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 9, 'Exclusive intermediate flexibility', '$8.70');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 10, 'Integrated value-added portal', '$9.14');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 11, 'Grass-roots intangible pricing structure', '$3.82');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 12, 'Managed object-oriented archive', '$6.25');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 13, 'Automated clear-thinking policy', '$4.88');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 14, 'Switchable asymmetric paradigm', '$9.58');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 15, 'Re-contextualized coherent application', '$7.54');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 16, 'Reverse-engineered scalable projection', '$9.86');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 17, 'Monitored tangible artificial intelligence', '$5.04');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 18, 'Profit-focused tangible pricing structure', '$9.60');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 19, 'Switchable exuding contingency', '$3.81');
insert into costco.food_court (store_id, food_id, food_name, price) values (1, 20, 'Ameliorated clear-thinking utilisation', '$3.84');

The last step of the SQL commands is to create a view that provides insightful information.

In [ ]:
CREATE VIEW vw_order_info  AS select costco.order.cost, costco.member.member_id, costco.member.member_name, costco.member.expiration_date, costco.member.member_address, costco.store.store_id, costco.store.store_address from costco.order JOIN costco.member ON (costco.member.member_id = costco.order.customer_id) JOIN costco.store ON (costco.order.store_id = costco.store.store_id) limit 20;

## Excel

To convert it to excel we first need to import some items

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd

Next we get the stored password to access the database, importing a saved variable and not the password itself.

In [ ]:
password = os.getenv("PGPASSWORD")

Next we create the connection terms in order to connect to the correct database.

In [ ]:
db_name = "ahellinga"
user = "ahellinga"
host = "dbserver.gctaa.net"
port = "5432"

connection_string = f"postgresql+psycopg://{user}:{password}@{host}:{port}/{db_name}"

Once we have all that we can connect to the database.

In [ ]:
engine = create_engine(connection_string)

Now we can create a query to put into an excel spreadsheet.

In [ ]:
query = "select * from costco.order JOIN costco.member ON (costco.member.member_id = costco.order.customer_id) JOIN costco.store ON (costco.order.store_id = costco.store.store_id) limit 20;"
df = pd.read_sql_query(query, engine)

And then we put it into an excel spreadsheet.

In [ ]:
df.to_excel("costco_output.xlsx", index=False)